<div class="page-header">
  <h1>Editing Studnet</h1>
</div>

<div class="subnav">
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', students_path %></li>
  </ul>
</div>

<%= show_model_form @student do |form| %>
  <%= form.show_text_input :number %>
  <%= form.show_text_input :name %>
  <%= form.show_text_input :age %>
  <%= form.show_text_input :sex %>
  <%= show_form_button %>
<% end %>
